In [4]:
%run "../../../common/0_notebooks_base_setup.py"

/media/paulati/Nuevo vol/paula/dh/2021/dsad_2021_paula/common
default checking
Running command `conda list`... ok
jupyterlab=2.2.6 already installed
pandas=1.1.5 already installed
bokeh=2.2.3 already installed
seaborn=0.11.0 already installed
matplotlib=3.3.2 already installed
ipywidgets=7.5.1 already installed
pytest=6.2.1 already installed
chardet=4.0.0 already installed
psutil=5.7.2 already installed
scipy=1.5.2 already installed
statsmodels=0.12.1 already installed
scikit-learn=0.23.2 already installed
xlrd=2.0.1 already installed
Running command `conda install --yes nltk=3.5.0`... ok
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


unidecode=1.1.1 already installed
pydotplus=2.0.2 already installed
pandas-datareader=0.9.0 already installed
flask=1.1.2 already installed

---

<img src='../../../common/logo_DH.png' align='left' width=35%/>

## Dataset

En la práctica de la clase de hoy usaremos una versión muy resumida de datos de la Encuesta Permanentes de Hogares (relevamiento llevado adelante por el INDEC). Se trata de una encuesta continua que tiene como objetivo fundamental generar información sobre el funcionamiento del mercado de trabajo.

Solamente utilizaremos algunas variables (edad, nivel educativo, cantidad de horas trabajadas, calificación de la tarea e ingreso laboral) y algunos casos (los ocupados, es decir, aquellos que han trabajado al menos una hora en la semana anterior al relevamiento).

Importamos la biblioteca pandas y asignamos pd como alias:

In [1]:
import pandas as pd

## Ejercicio 1

Vamos a leer los datos del archivo /M1/CLASE_04/Data/data_filt.csv en un `DataFrame` de pandas con el método `read_csv`

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html


Este archivo tiene algunos datos numéricos y otros de tipo cadena de caracteres. 

Las columnas son:

"ch06","nivel_ed","htot","calif","p47t"

* ch06: int, edad

* nivel_ed: string, nivel educativo

* htot: int, cantidad de horas totales trabajadas en el período

* calif: string, calificación de la tarea

* p47t: int, ingreso

In [2]:
# local:
data_location = "../Data/data_filt.csv"

data = pd.read_csv(data_location, sep=",", encoding="latin1")

## Ejercicio 2

Miremos ahora los primeros tres registros del `DataFrame` data, y los ultimos cinco registros.

¿Cuántas filas tiene data? ¿Y cuántas columnas?

Ayudas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html?highlight=head#pandas.DataFrame.head

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.tail.html?highlight=tail#pandas.DataFrame.tail

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html?highlight=shape#pandas.DataFrame.shape

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html?highlight=info

In [7]:
display(data.head(3))

display(data.tail(5))


print(data.index)

print(data.columns)

   ch06           nivel_ed  htot            calif    p47t
0    46        1_H/Sec inc    45  2_Op./No calif.  6000.0
1    26  2_Sec. comp y más    25  2_Op./No calif.  5000.0
2    47  2_Sec. comp y más    25  2_Op./No calif.  5000.0

       ch06           nivel_ed  htot            calif     p47t
23443    45  2_Sec. comp y más    50  2_Op./No calif.   4000.0
23444    58        1_H/Sec inc    30  2_Op./No calif.   5000.0
23445    36  2_Sec. comp y más    40  2_Op./No calif.  13000.0
23446    49        1_H/Sec inc    40  2_Op./No calif.   4000.0
23447    36        1_H/Sec inc    54  2_Op./No calif.   8000.0

RangeIndex(start=0, stop=23448, step=1)
Index(['ch06', 'nivel_ed', 'htot', 'calif', 'p47t'], dtype='object')

## Ejercicio 3

¿Cuáles son los nombres de las columnas del `DataFrame` data?

¿Cuál es el índice del `DataFrame` data?

Ayudas:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.columns.html?highlight=columns#pandas.DataFrame.columns

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.index.html?highlight=index#pandas.DataFrame.index

Renombremos ahora los columnas para que queden con estos valores:

['edad', 'nivel_educativo', 'hs_trabajados', 'calif_ocupacional', 'ingreso_ult_mes']

In [11]:
data.columns=['edad', 'nivel_educativo', 'hs_trabajados', 'calif_ocupacional', 'ingreso_ult_mes']
data.columns

Index(['edad', 'nivel_educativo', 'hs_trabajados', 'calif_ocupacional',
       'ingreso_ult_mes'],
      dtype='object')

## Ejercicio 4 

¿Cuál es el tipo de datos de la cuarta columna de data?

In [13]:
type(data.iloc[0,3])

str

## Ejercicio 5 

¿Cómo están distribuidos los niveles educativos? ¿Cuál es el más común?

Ayuda:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html?highlight=value_counts#pandas.Series.value_counts

In [14]:
data['nivel_educativo'].value_counts()

2_Sec. comp y más    14634
1_H/Sec inc           8814
Name: nivel_educativo, dtype: int64

## Ejercicio 6

¿Cuál es el ingreso medio de la población?

In [17]:
data['ingreso_ult_mes'].mean()

8107.905834186285

## Ejercicio 7

Construyamos un objeto `DataFrame` con las columnas nivel_educativo e ingreso_ult_mes de data

Seleccionemos las primeras 20 filas de este objeto `DataFrame`

Seleccionemos una muestra aleatoria de 500 filas de este objeto `DataFrame`

Ayuda:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample

In [37]:
data2=data[['nivel_educativo','ingreso_ult_mes']]

data2.head(20)


data2.sample(500)
#data3=data['nivel_educativo']
#display(data3)

#data4=data[['nivel_educativo']]
#display(data4)

         nivel_educativo  ingreso_ult_mes
13969  2_Sec. comp y más           9000.0
9885   2_Sec. comp y más          11000.0
21825        1_H/Sec inc           6000.0
8652   2_Sec. comp y más          10000.0
8617   2_Sec. comp y más          20000.0
...                  ...              ...
18437  2_Sec. comp y más          15000.0
19540        1_H/Sec inc           4700.0
7876   2_Sec. comp y más          12000.0
18584  2_Sec. comp y más           5000.0
3544         1_H/Sec inc           8000.0

[500 rows x 2 columns]

## Ejercicio 8

Construyamos un objeto `DataFrame` con todas las columnas de data excluyendo nivel_educativo.

Ayuda: 

Construir una máscara booleana de los nombres de las columnas.

In [43]:
mascara= data.columns != 'nivel_educativo'
data_3=data.loc[:, mascara]
display(data_3)

       edad  hs_trabajados calif_ocupacional  ingreso_ult_mes
0        46             45   2_Op./No calif.           6000.0
1        26             25   2_Op./No calif.           5000.0
2        47             25   2_Op./No calif.           5000.0
3        52             90   2_Op./No calif.          11000.0
4        45             44   2_Op./No calif.           9500.0
...     ...            ...               ...              ...
23443    45             50   2_Op./No calif.           4000.0
23444    58             30   2_Op./No calif.           5000.0
23445    36             40   2_Op./No calif.          13000.0
23446    49             40   2_Op./No calif.           4000.0
23447    36             54   2_Op./No calif.           8000.0

[23448 rows x 4 columns]

## Ejercicio 9

Ordenar data según la columna edad en forma decreciente.

Ayuda: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values

In [47]:
data_4=data.sort_values(by=['edad'], ascending=False)
data_4

,edad,nivel_educativo,hs_trabajados,calif_ocupacional,ingreso_ult_mes
22574,93,1_H/Sec inc,20,2_Op./No calif.,8000.0
16461,85,2_Sec. comp y más,40,1_Prof./Tecn.,20700.0
16954,85,2_Sec. comp y más,36,2_Op./No calif.,8250.0
23317,84,1_H/Sec inc,25,2_Op./No calif.,9900.0
4340,84,1_H/Sec inc,36,2_Op./No calif.,7500.0
...,...,...,...,...,...
15198,13,1_H/Sec inc,6,2_Op./No calif.,800.0
5698,12,1_H/Sec inc,5,2_Op./No calif.,250.0
15308,12,1_H/Sec inc,7,2_Op./No calif.,250.0
19856,12,1_H/Sec inc,15,2_Op./No calif.,1200.0
20050,12,1_H/Sec inc,20,2_Op./No calif.,1600.0

## Ejercicio 10

¿Cuál es el promedio de horas trabajadas de los jóvenes entre 14 y 25 años y poco calificados?

Ayuda:
    
Combina varias máscaras booleanas

In [59]:
maskara_14=data['edad']>=14
maskara_25=data['edad']<=25 
mask_edad= maskara_14 & maskara_25


mask_calif=data['calif_ocupacional']=='2_Op./No calif.'

data_filtrada =data.loc[mask_edad & mask_calif]
data_filtrada['hs_trabajados'].mean()

37.57085900688655

## Ejercicio 11

Generemos un nuevo dataframe con los trabajadores que ganan más del promedio de ingresos general y están por debajo de la cantidad media de horas trabajadas. ¿Cuántos trabajadores se encuentran en esta condición? ¿Cuál es su edad mediana?

Ayuda:

Calcular el promedio de ingresos y la media de horas trabajadas

Construir máscaras booleanas con estos valores

Indexar data con la combinación de las máscaras construidas

In [65]:
promedio_ingresos=data['ingreso_ult_mes'].mean()

media_horas = data['hs_trabajados'].mean()

mask_ingre= data['ingreso_ult_mes']>promedio_ingresos

mask_hs = data['hs_trabajados']<media_horas

trabajadores = data.loc[mask_ingre & mask_hs]
trabajadores.count()
trabajadores['edad'].median()

44.0