In [1]:
import pandas as pd

In [2]:
arbolado = pd.read_csv('../Data/arbolado-publico-lineal-2017-2018.csv')
arbolado.head(3)

c:\Users\fpeloso\Anaconda3\envs\dhdsblend2021\lib\site-packages\IPython\core\interactiveshell.py:3135: DtypeWarning: Columns (2,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,long,lat,nro_registro,tipo_activ,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,Lineal,1,NaN,Esmeralda,1000,1120,ESMERALDA 1120,NaN,Tipuana tipu,5.5,Ocupada,Regular,A nivel,88.0,34.0
1,-58.381532,-34.592319,30887,Lineal,1,NaN,Pellegrini Carlos,1300,1345,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,Ocupada,Regular,Elevada,6.0,5.0
2,-58.379103,-34.591939,30904,Lineal,1,NaN,Arroyo,800,848,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,7.0,6.0

In [3]:
arbolado.tail()

,long,lat,nro_registro,tipo_activ,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
370175,NaN,NaN,546140,Lineal,15,919,Guevara,1000,1000.0,NaN,LD3,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,34.0,7.0
370176,NaN,NaN,546141,Lineal,15,919,Guevara,1000,1000.0,NaN,LD4,Melia azedarach,3.3,Ocupada,Regular,A nivel,45.0,8.0
370177,NaN,NaN,546142,Lineal,15,919,Guevara,1000,1000.0,NaN,LD5,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,60.0,8.0
370178,NaN,NaN,546143,Lineal,15,919,Guevara,1000,1000.0,NaN,LD6,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,64.0,8.0
370179,NaN,NaN,546144,Lineal,15,919,Guevara,1000,1000.0,NaN,LD7,Ceiba speciosa,3.3,Ocupada,Regular,A nivel,61.0,8.0

In [4]:
#en donde faltan datos
arbolado.isnull().sum()/arbolado.shape[0]*100

long                      4.144470
lat                       4.144470
nro_registro              0.000000
tipo_activ                0.000000
comuna                    0.000000
manzana                  39.451078
calle_nombre              0.025123
calle_altura              1.486574
calle_chapa               1.744827
direccion_normalizada     3.846507
ubicacion                 2.241072
nombre_cientifico         0.000000
ancho_acera               0.836620
estado_plantera           0.000000
ubicacion_plantera        0.379275
nivel_plantera            0.365228
diametro_altura_pecho     0.077260
altura_arbol              1.167540
dtype: float64

In [5]:
arbolado.sample(20)

,long,lat,nro_registro,tipo_activ,comuna,manzana,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
38988,-58.399536,-34.638680,360218,Lineal,4,290,Luna,200,212,LUNA 212,Exacta,Ficus benjamina,3.2,Ocupada,Regular,Elevada,25.0,7.0
77313,-58.446944,-34.607820,44422,Lineal,6,NaN,Gaona Av.,1200,1235,GAONA AV. 1235,Exacta,Fraxinus pennsylvanica,3.1,Ocupada,Regular,A nivel,20.0,6.0
170685,-58.467516,-34.654609,535909,Lineal,9,1195,Alvarez Crisóstomo,3800,3870,"ALVAREZ, CRISOSTOMO 3870",LD 1,Fraxinus pennsylvanica,3.2,Ocupada,Regular,Elevada,17.0,8.0
296812,-58.473388,-34.539870,134433,Lineal,13,1,Vuelta de Obligado,4700,4732,VUELTA DE OBLIGADO 4732,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,27.0,10.0
19453,-58.403856,-34.608760,25174,Lineal,3,NaN,Mitre Bartolomé,2600,2632,"MITRE, BARTOLOME 2632",Exacta,Fraxinus pennsylvanica,2.6,Ocupada,Regular,Bajo nivel,36.0,12.0
184666,-58.523271,-34.631305,345454,Lineal,10,958,Porcel de Peralta Manuel,600,600,"PORCEL DE PERALTA, MANUEL 600",LD,No identificado,3.5,Ocupada,Regular,A nivel,2.0,2.0
230438,-58.518204,-34.614350,262945,Lineal,11,712,Tinogasta,5000,5073,TINOGASTA 5073,Exacta,Fraxinus pennsylvanica,4.6,Ocupada,Regular,A nivel,63.0,13.0
202498,-58.502190,-34.619270,538788,Lineal,10,257a,Alcaráz,4600,4635,ALCARAZ 4635,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A Nivel,31.0,8.0
26641,-58.393994,-34.615890,36878,Lineal,3,NaN,México,1900,1960,MEXICO 1960,Exacta,Fraxinus pennsylvanica,2.8,Ocupada,Regular,A nivel,18.0,10.0
128755,-58.488450,-34.668532,522941,Lineal,8,119,Leguizamón Martiniano,3100,3178,"LEGUIZAMON, MARTINIANO 3178",Exacta,Ficus benjamina,4.4,Ocupada,Regular,Elevada,21.0,4.0
36165,-58.400829,-34.630813,340640,Lineal,4,195,Jujuy Av.,1700,1757,JUJUY AV. 1757,Exacta,Fraxinus pennsylvanica,3.2,Ocupada,Regular,A nivel,42.0,9.0
279963,-58.440400,-34.555521,101053,Lineal,13,NaN,Húsares,1800,1870,HUSARES 1870,LD,Fraxinus excelsior,2.6,Ocupada,Regular,Bajo nivel,44.0,10.0
273961,-58.486891,-34.556350,417463,Lineal,12,361,Manzanares,4300,4321,MANZANARES 4321,LA,Fraxinus pennsylvanica,4.4,Ocupada,Ochava,A nivel,11.0,2.0
185966,-58.515158,-34.623782,341425,Lineal,10,155,Arregui,5400,5439,ARREGUI 5439,Exacta,Ligustrum lucidum,4.4,Ocupada,Regular,A nivel,37.0,7.0
10578,-58.365486,-34.599067,500041,Lineal,1,135,Sánchez de Thompson Mariquita,200,250,"SANCHEZ DE THOMPSON, MARIQUITA 250",LD4,Ginkgo biloba,5.6,Ocupada,Regular,A Nivel,22.0,5.0
264242,-58.473059,-34.568607,167712,Lineal,12,NaN,Estomba,2300.0,2335,ESTOMBA 2335,Exacta,Fraxinus pennsylvanica,4.4,Ocupada,Regular,Bajo nivel,12.0,5.0
350178,-58.369738,-34.621660,56086,Lineal,1,NaN,Balcarce,1200.0,NaN,BALCARCE,LA,Fraxinus pennsylvanica,2.4,Ocupada,Regular,A nivel,39.0,18.0
197681,-58.492311,-34.628797,372295,Lineal,10,596,Belén,700,796,BELEN 796,Exacta,No identificado,4.4,Ocupada,Regular,A nivel,4.0,2.0
55982,-58.424394,-34.649782,513537,Lineal,4,850,Corrales,1300,1399,CORRALES 1399,LD1,Jacaranda mimosifolia,4,Ocupada,Regular,A Nivel,28.0,7.0
298785,-58.455105,-34.576464,163349,Lineal,13,NaN,Martínez Enrique Gral.,900,977,"MARTINEZ, ENRIQUE, GRAL. 977",Exacta,Fraxinus pennsylvanica,3.2,Ocupada,Regular,Elevada,25.0,7.0

In [17]:
#voy a tirar la columna de manzanas , ya que tiene muchos datos faltantes y no es tan importante

#otra columna para tirar seria ubicación, porque no se interpretarla bien

#aca saco la columna manzana

#ahora lo saco
#arbolado.drop(columns=['manzana'], axis=1)

#vuelve a aparecer manzana

arbolado.head()


#porque drop genera una copia modificada

#no la vuelvo a ejecutar porque manzana¿ ya no existe
#  arbolado.drop(columns=['manzana'], axis=1, inplace=True)

arbolado.head()

,long,lat,nro_registro,tipo_activ,comuna,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,Lineal,1,Esmeralda,1000,1120,ESMERALDA 1120,NaN,Tipuana tipu,5.5,Ocupada,Regular,A nivel,88.0,34.0
1,-58.381532,-34.592319,30887,Lineal,1,Pellegrini Carlos,1300,1345,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,Ocupada,Regular,Elevada,6.0,5.0
2,-58.379103,-34.591939,30904,Lineal,1,Arroyo,800,848,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,7.0,6.0
3,-58.380710,-34.591548,31336,Lineal,1,Arroyo,900,932,ARROYO 932,LD,Fraxinus pennsylvanica,NaN,Ocupada,Regular,A nivel,9.0,29.0
4,-58.380710,-34.591548,31337,Lineal,1,Arroyo,900,932,ARROYO 932,LA,Jacaranda mimosifolia,NaN,Ocupada,Regular,A nivel,13.0,8.0

In [28]:
#tirar todos los registros donde haya mas de tres columnas sin datos

arbolado_limpio=arbolado.dropna(thresh=(arbolado.shape[1]-3))

print(arbolado_limpio.shape[0])

arbolado.shape[0]

arbolado_limpio.head()

366931

,long,lat,nro_registro,tipo_activ,comuna,calle_nombre,calle_altura,calle_chapa,direccion_normalizada,ubicacion,nombre_cientifico,ancho_acera,estado_plantera,ubicacion_plantera,nivel_plantera,diametro_altura_pecho,altura_arbol
0,-58.378563,-34.594902,26779,Lineal,1,Esmeralda,1000,1120,ESMERALDA 1120,NaN,Tipuana tipu,5.5,Ocupada,Regular,A nivel,88.0,34.0
1,-58.381532,-34.592319,30887,Lineal,1,Pellegrini Carlos,1300,1345,"PELLEGRINI, CARLOS 1345",Exacta,Peltophorum dubium,4.5,Ocupada,Regular,Elevada,6.0,5.0
2,-58.379103,-34.591939,30904,Lineal,1,Arroyo,800,848,ARROYO 848,Exacta,Fraxinus pennsylvanica,4,Ocupada,Regular,A nivel,7.0,6.0
3,-58.380710,-34.591548,31336,Lineal,1,Arroyo,900,932,ARROYO 932,LD,Fraxinus pennsylvanica,NaN,Ocupada,Regular,A nivel,9.0,29.0
4,-58.380710,-34.591548,31337,Lineal,1,Arroyo,900,932,ARROYO 932,LA,Jacaranda mimosifolia,NaN,Ocupada,Regular,A nivel,13.0,8.0

In [33]:
arbolado['calle_altura'].fillna(arbolado['calle_chapa'], inplace= True)

arbolado['calle_chapa'].fillna(arbolado['calle_altura'], inplace=True)
arbolado.sample(10)

arbolado.isnull().sum()/arbolado.shape[0]*100

long                     4.144470
lat                      4.144470
nro_registro             0.000000
tipo_activ               0.000000
comuna                   0.000000
calle_nombre             0.025123
calle_altura             0.514074
calle_chapa              0.514074
direccion_normalizada    3.846507
ubicacion                2.241072
nombre_cientifico        0.000000
ancho_acera              0.836620
estado_plantera          0.000000
ubicacion_plantera       0.379275
nivel_plantera           0.365228
diametro_altura_pecho    0.077260
altura_arbol             1.167540
dtype: float64

In [34]:
#ahora hacemos otro ejemplo dejando de lado ejemplos de fillna

#apply ahora

def cuadrado(x): 
    print(x*x)

In [36]:
cuadrado(3)

9

In [40]:
cuadrado2=lambda x,y: print(x*y)

In [41]:
cuadrado2(3,10) #ejemplo de lambda

30

In [42]:
arbolado['diametro_altura_pecho']>arbolado['altura_arbol']

0          True
1          True
2          True
3         False
4          True
          ...
370175     True
370176     True
370177     True
370178     True
370179     True
Length: 370180, dtype: bool

In [43]:
arbolado['condicion']= arbolado['diametro_altura_pecho']>arbolado['altura_arbol']

In [47]:
arbolado['diametro_altura_pecho'].apply(lambda x : type(x))

0         <class 'float'>
1         <class 'float'>
2         <class 'float'>
3         <class 'float'>
4         <class 'float'>
               ...
370175    <class 'float'>
370176    <class 'float'>
370177    <class 'float'>
370178    <class 'float'>
370179    <class 'float'>
Name: diametro_altura_pecho, Length: 370180, dtype: object

In [51]:
arbolado['diametro_altura_pecho'].apply(lambda x : x if x<10 else x*x)

0         7744.0
1            6.0
2            7.0
3            9.0
4          169.0
           ...
370175    1156.0
370176    2025.0
370177    3600.0
370178    4096.0
370179    3721.0
Name: diametro_altura_pecho, Length: 370180, dtype: float64

In [54]:
arbolado.apply(lambda x: x['ancho_acera'] , axis=1)

TypeError: can't multiply sequence by non-int of type 'float'